# Please fill this file out with your aws and azure keys
# The file then needs to be stored in your home directory as:
# ~/.flightconnector.yml

general:
  log_file: '/var/log/flightconnector.log'

# Provider credentials
provider:
  azure:
    tenant_id: 
    subscription_id: 
    client_secret: 
    client_id: 

  aws:
    access_key_id: 
    secret_access_key: 
